<div class="questionTile">
  <li>
  {{#link-to 'question' question.id}}
    <h3>{{question.userQuestion}}</h3>
  {{/link-to}}
    <p>{{question.userName}}</p>
    {{update-question question=question update="update"}}
  </li>
</div>
