<div class="questionTile">
  <li>
  {{#link-to 'question' question.id}}
    <h3>{{question.userQuestion}}</h3>
  {{/link-to}}
    <button {{action 'addToFavorite' question}}><i class="fa fa-star"></i></button>
    <p>{{question.userName}}</p>
    {{update-question question=question update="update"}}
  </li>
</div>
