body {
  margin: 0;
  background: lighten(#F2F7FC, 5%);
  font-family: sans-serif;
  min-width: 300px;
  ul{
    list-style: none;
    a{
      text-decoration: none;
    }
  }
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

button {
  background: $light-orange;
  border: none;
  width: 100px;
  height: 50px;
  font-size: .8em;
  &:hover {
    background: $orange;
  }
}
