$font-serif: 'Antic Slab', serif;

$font-serif2: 'Cantata One', serif;

$font-cursive: 'Norican', cursive;

$fav-font:'Berkshire Swash', cursive;

$green-blue: #5EE5E1;

$light-orange: #FDC083;

$orange: #FD9484;

$mid-grey: #5E6166;


%form {
  label {
    font-family: $font-serif;
  }
  input {
    border: none;
    border-bottom: 1px solid black;
    background: none;
    width: 250px;
    height: 25px;
    margin-bottom: 10px;
  }
}
