<div class="wrapper">
  <div class="navbar">
    <span>{{#link-to 'index'}}Home{{/link-to}}</span>
    <span>{{#link-to 'favorite'}}Favorite{{/link-to}}</span>
  </div>
  <header>
    {{#link-to 'index'}}<h1>Message Board</h1>{{/link-to}}
    <p>Ember sample message board</p>
  </header>

  <div class="container">
    {{outlet}}
  </div>

  <footer>
    <span>  {{#link-to 'admin'}}Admin{{/link-to}}  </span>
    <i class="fa fa-facebook"></i>
    <i class="fa fa-twitter"></i>
    <i class="fa fa-instagram"></i>
  </footer>
</div>
