<div class="wrapper">
  <header>
    {{#link-to 'index'}}<h1>Life is the bubbles</h1>{{/link-to}}
    <div class="navbar">
      <ul>

        <li>{{#link-to 'index'}}Home{{/link-to}}</li>
        <!-- <li>{{#link-to 'about'}}About{{/link-to}}</li>
        <li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
        <li>{{#link-to 'admin'}}Admin{{/link-to}}</li> -->
      </ul>
    </div>
  </header>

  <div class="container">
    {{outlet}}
  </div>

  <footer>
    <i class="fa fa-facebook"></i>
    <i class="fa fa-twitter"></i>
    <i class="fa fa-instagram"></i>
  </footer>
</div>
