<div class="wrapper">
  <header>
    <h1>Beautiful Mess</h1>
    <div class="navbar">
      <ul>
        <p>Home</p>
        <!-- <li>{{#link-to 'index'}}Home{{/link-to}}</li>
        <li>{{#link-to 'about'}}About{{/link-to}}</li>
        <li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
        <li>{{#link-to 'admin'}}Admin{{/link-to}}</li> -->
      </ul>
    </div>
  </header>

  <div class="container">
    {{outlet}}
  </div>

  <footer>
    <h3>Here is our sticky footer</h3>
  </footer>
</div>
