<div class="indexWrapper">
  <div class="newQuestion">
    {{new-question save2="save3"}}
  </div>
  <ul>
    {{#each model.questions as |question|}}
      <span>{{no-answers question}}</span>
      {{question-tile question=question update="update" destroyQuestion="destroyQuestion"}}
      <hr>
    {{/each}}
  </ul>
</div>
