<h2>Hello Hello</h2>

{{new-question save2="save3"}}

<ul>
  {{#each model.questions as |question|}}
    {{question-tile question=question update="update" destroyQuestion="destroyQuestion"}}
  {{/each}}
</ul>
<hr>
<ul>
  {{#each model.answers as |answer|}}
  <li>{{answer.answerUserName}}</li>
  <li>{{answer.answerUser}}</li>
  {{/each}}
</ul>
